html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* * Styles */

body {
  background-color: #927df1;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

/* ! TOP */

.top {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  width: 100px;
  height: 100px;

  cursor: pointer;
}

/*! Slider */

.frame {
  width: 500px;
  overflow: hidden;
}

.slider {
  display: flex;
  column-gap: 100px;

  transition: all 1s ease;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;

  min-width: 498px;
  height: 150px;
}

.title {
  padding: 10px;
  font-size: 50px;
}

/*!  Bottom */

.bottom {
  display: flex;
  gap: 30px;
}

.button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
}
